.top-title {
  padding-bottom: 35px;
  /* margin-left: 6px; */
}
.top-title a {
  display: none;
}
.top-title h2 {
  font-family: var(--font-orbitron);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
}
.top-swiper {
  overflow: hidden;
}
.top-sec-swiper {
  padding-bottom: 36px;
  margin-right: -25px;
  /* display: flex; */
}

.top-button-div {
  margin: 0 auto;
  padding: 1px;
  /* background-image: linear-gradient(
      130deg,
      #ff56f6 18.31%,
      #b936ee 43.26%,
      #3bace2 85.44%,
      #406aff 100%
    ),
    linear-gradient(120deg, #ffa6fa 0%, #3c79d4 77%); */
  background-image: linear-gradient(120deg, #ffa6fa 0%, #3c79d4 77%);
  border-radius: 0 2px 0 2px;

  width: 134.3px;
  clip-path: polygon(
    22px 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 22px) 100%,
    0 100%,
    0 10px
  );
}
.top-button {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 7px 16px 8px 25px;
  display: flex;
  gap: 10px;
  align-items: center;

  background: #3d1a5c;
  border: 0px;

  font-family: var(--font-orbitron);
  font-weight: 700;
  font-size: 12px;
  color: var(--color-white);

  transition: all 0.5 ease-out;

  border-radius: 0 2px 0 2px;
  clip-path: polygon(
    22px 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 22px) 100%,
    0 100%,
    0 10px
  );
}
.top-button svg {
  width: 27px;
  height: 8px;
  fill: var(--color-white);
}
.top-button:hover {
  background-image: linear-gradient(
    130deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
}

@media only screen and (min-width: 768px) {
  .top-title {
    padding-bottom: 40px;
  }
  .top-title h2 {
    font-size: 20px;
  }
  .top-sec-swiper {
    padding-bottom: 50px;
    margin-right: 0;
  }

  .top-button-div {
    width: 150.3px;
  }

  .top-button {
    padding: 10px 25px;
    background: #251349;
    border: 0px;

    font-size: 14px;
  }
  .top-button svg {
    width: 27px;
    height: 12px;
  }
}
@media only screen and (min-width: 1440px) {
  .top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 0px;
    padding-bottom: 47px;
  }
  .top-title a {
    display: flex;
    gap: 16.5px;
    align-items: center;
    margin-right: 10px;

    font-family: var(--font-orbitron);
    font-weight: 700;
    font-size: 26px;
    color: #fff;

    transition: all 0.5s ease;
  }
  .top-title a svg {
    width: 53px;
    height: 27px;
  }
  .top-title a:hover {
    opacity: 0.7;
  }
  .top-title h2 {
    font-size: 26.5px;
  }
  .top-sec-swiper {
    padding-bottom: 38px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
  .top-button-div {
    display: none;
  }
  .top-button {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
}
