:root {
  --font-rajdhani: 'Rajdhani', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-aldrich: 'Aldrich', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-spartan: 'League Spartan', sans-serif;
  --font-museomoderno: 'MuseoModerno', sans-serif;

  --color-white: #ffffff;
  --color-black: #000;

  color: var(--color-black);

  font-family: var(--font-rajdhani);
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgba(32, 8, 59, 0.95);
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../img/background/mob.webp') no-repeat center top / cover;
  filter: blur(20px);
  transform: scale(1.05);
  z-index: -1;
}

/* планшети */
@media (min-width: 768px) {
  body::before {
    background: url('../img/background/tablet.webp') no-repeat center top /
      cover;
    filter: blur(10px);
  }
}

/* десктоп */
@media (min-width: 1440px) {
  body::before {
    background: url('../img/background/desk.webp') no-repeat center top / cover;
    /* filter: blur(3px); */
  }
}
