.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px 4px 2px;
  /* background: rgba(35, 18, 68, 0.923); */
  background: rgba(34, 17, 67, 0.923);
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  width: 112px;
  height: 25px;
}
.navbar .button-header {
  background: transparent;
  border: none;
  padding: 0px;
  margin-right: 10px;
}
.navbar .button-header:focus,
.navbar .button-header:hover {
  box-shadow: none;
}
.button-header:hover svg {
  opacity: 0.7;
}
.navbar .mob-menu-header {
  padding: 25px;
  backdrop-filter: blur(145.60252380371094px);
  background: rgba(161, 129, 210, 0.1);
}
.icons-header {
  display: flex;
  gap: 25px;
}
.icon-header svg {
  width: 25px;
  height: 25px;
}
.icon-header:hover {
  opacity: 0.6;
}
.navbar .header-btn-close {
  padding: 0px;
  box-shadow: none;
}
.navbar .header-btn-close:focus {
  box-shadow: none;
}
.offcanvas-body .nav-header {
  font-family: var(--font-orbitron);

  font-weight: 700;
  font-size: 19px;
  color: var(--color-white);
  opacity: 0.6;

  transition: all 0.5s ease;
}
.offcanvas-body .nav-header:hover,
.offcanvas-body .nav-header:focus {
  color: var(--color-white);
  opacity: 1;
}
.desk-icons {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 0px 20px 0px;
  }
  .desk-icons {
    display: flex;
    align-items: center;
  }
  .container-header {
    gap: 80px;
  }
  .logo-header {
    width: 132px;
    height: 28px;
  }
  .navbar .mob-menu-header {
    padding: 0px;
    backdrop-filter: none;
    background: transparent;
  }
  .canvas-desk {
    justify-content: space-between;
  }
  .icons-header {
    gap: 25px;
  }
  .icon-header svg {
    width: 25px;
    height: 25px;
  }
  .offcanvas-body .nav-header {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 50px 0px 25px 87px;
  }
  .container-header {
    gap: 203px;
  }

  .navbar-header {
    display: flex;
    gap: 55px;
  }
  .icons-header {
    gap: 40px;
    margin-right: 10px;
  }
  .icon-header svg {
    width: 25px;
    height: 25px;
  }
  .offcanvas-body .nav-header {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1920px) {
  .container-header {
    padding-right: 100px;
    gap: 406px;
  }
  .logo-header {
    width: 200px;
    height: 30px;
  }
  .navbar-header {
    gap: 70px;
    margin-right: 20px;
  }
  .icons-header {
    gap: 45px;
  }
}
