.month-item {
  margin-left: 3px;
  padding: 21px 20px 18px 20px;
  box-sizing: border-box;

  border-radius: 30px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-roboto);
  color: var(--color-white);
}
.month-item::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 30px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.month-info {
  display: flex;
  align-items: center;
}
.seller-number {
  padding-right: 12px;
  text-align: center;

  font-weight: 500;
  font-size: 13px;
  line-height: 2.31579;
  opacity: 0.8;
}
.month-info img {
  width: 51px;
  height: 51px;
  margin-right: 9.5px;
}
.month-user {
  margin-top: -5.5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.month-user h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.31579;
}
.month-eth {
  display: flex;
  align-items: center;
  gap: 3px;

  font-weight: 500;
  font-size: 10px;
  line-height: 1.20648;
  opacity: 0.8;
}
.month-eth svg {
  width: 6px;
  height: 10px;
}

.month-prosent {
  margin-top: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 25px;

  border-radius: 35px;
  /* padding: 5px 14px; */
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  overflow: hidden;
}
.month-prosent.red {
  color: #f00;
  background: linear-gradient(
    135deg,
    rgba(214, 22, 22, 0.05) 0%,
    rgba(155, 35, 35, 0.15) 50%,
    rgba(243, 13, 13, 0.15) 100%
  );
}
.month-prosent.red::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 35px;
  background: linear-gradient(
    135deg,
    rgba(214, 22, 22, 0.05) 0%,
    rgba(155, 35, 35, 0.25) 50%,
    rgba(243, 13, 13, 0.35) 100%
  );

  -webkit-mask: linear-gradient(#a91414 0 0) content-box,
    linear-gradient(#751212 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.month-prosent.green {
  color: #0f6;
  background: linear-gradient(
    135deg,
    rgba(35, 214, 22, 0.05) 0%,
    rgba(35, 155, 43, 0.15) 50%,
    rgba(13, 243, 13, 0.15) 100%
  );
}
.month-prosent.green::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 35px;
  background: linear-gradient(
    135deg,
    rgba(22, 214, 22, 0.05) 0%,
    rgba(39, 155, 35, 0.25) 50%,
    rgba(13, 243, 44, 0.35) 100%
  );

  -webkit-mask: linear-gradient(#52a914 0 0) content-box,
    linear-gradient(#12752c 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@media only screen and (min-width: 768px) {
  .month-item {
    padding: 25px 22px 25px 22px;
  }

  .seller-number {
    padding-right: 15px;

    font-size: 16px;
  }
  .month-info img {
    width: 61px;
    height: 61px;
    margin-right: 11px;
  }
  .month-user {
    gap: 7px;
  }
  .month-user h4 {
    font-size: 14px;
  }
  .month-eth {
    gap: 4px;
    font-size: 11px;
  }
  .month-eth svg {
    width: 8px;
    height: 14px;
  }
  .month-prosent {
    padding: 5px 13px;
    font-size: 11px;
  }
}
@media only screen and (min-width: 1440px) {
  .month-item {
    padding: 28px 20px 23px 17px;
  }

  .seller-number {
    width: 37px;
    align-items: center;
    padding-right: 0px;
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: -2px;
  }
  .month-info img {
    width: 71px;
    height: 71px;
    margin-right: 13px;
  }
  .month-user {
    margin-top: -10px;
    gap: 15px;
  }
  .month-user h4 {
    font-size: 19px;
  }
  .month-eth {
    font-size: 13px;
  }
  .month-prosent {
    margin-top: 8px;
    width: 100px;
    height: 35px;

    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  .month-item {
    padding: 40px 35px 40px 35px;
  }

  .seller-number {
    padding-right: 20px;
    font-size: 21px;
  }
  .month-info img {
    width: 85px;
    height: 85px;
    margin-right: 15px;
  }
  .month-user h4 {
    font-size: 23px;
  }
  .month-eth {
    font-size: 16px;
  }
  .month-eth svg {
    width: 14px;
    height: 20px;
  }
  .month-prosent {
    padding: 9px 21px;

    font-size: 17px;
  }
}
