<section class="my-container my-section">
  <div class="collections-container">
    <div class="collections-info">
      <h2>Explore Collections</h2>
      <div class="collections-list-div">
        <ul class="collections-list">
          <li>Photography</li>
          <li>Sports</li>
          <li>Brands</li>
          <li>Collectibles</li>
          <li>Art</li>
          <li>Utility</li>
          <li>Brands</li>
          <li>Collectibles</li>
        </ul>
        <a href="#"
          >View all
          <svg class="right-collections">
            <use href="/img/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <picture>
      <source
        srcset="/img/doll-desk-1x.webp 1x, /img/doll-desk-2x.webp 2x"
        media="(min-width: 1440px)"
      />

      <source
        srcset="/img/doll-mob-1x.webp 1x, /img/doll-mob-2x.webp 2x"
        media="(width: 320px)"
      />

      <img
        class="image-collections"
        src="/img/doll-mob-2x.webp "
        alt="doll collections section"
      />
    </picture>
  </div>
</section>
