<footer>
  <div class="my-container">
    <div class="info-footer">
      <div class="first-section-footer">
        <a href="#">
          <svg class="logo-footer">
            <use href="/img/logo-mob.svg"></use>
          </svg>
        </a>
        <p>
          Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc
          quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.
        </p>
        <ul class="social-list-footer">
          <li class="social-item-footer">
            <a class="" href="#">
              <svg class="">
                <use href="/img/sprite.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-footer">
            <a class="" href="#">
              <svg class="">
                <use href="/img/sprite.svg#icon-social"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-footer">
            <a class="" href="#">
              <svg class="">
                <use href="/img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-footer">
            <a class="" href="#">
              <svg class="">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="section-mob-footer">
        <div class="sec-div-mob">
          <p>
            Market place
            <button
              class="btn-primary btn-open-footer"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMarket"
              aria-expanded="false"
              aria-controls="collapseMarket"
            >
              <svg class="svg-open-footer">
                <use href="/img/sprite.svg#icon-open"></use>
              </svg>
            </button>
          </p>
          <div class="collapse" id="collapseMarket">
            <ul class="list-mob-footer">
              <li><a href="#">Overview</a></li>
              <li>
                <a href="#">Features <span>new</span></a>
              </li>
              <li><a href="#">Tutorials</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Releases</a></li>
            </ul>
          </div>
        </div>
        <div class="sec-div-mob">
          <p>
            Collectibles
            <button
              class="btn-primary btn-open-footer"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseCollectibles"
              aria-expanded="false"
              aria-controls="collapseCollectibles"
            >
              <svg class="svg-open-footer">
                <use href="/img/sprite.svg#icon-open"></use>
              </svg>
            </button>
          </p>
          <div class="collapse" id="collapseCollectibles">
            <ul class="list-mob-footer">
              <li><a href="#">About</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Partners</a></li>
            </ul>
          </div>
        </div>
        <div class="sec-div-mob">
          <p>
            Support
            <button
              class="btn-primary btn-open-footer"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSupport"
              aria-expanded="false"
              aria-controls="collapseSupport"
            >
              <svg class="svg-open-footer">
                <use href="/img/sprite.svg#icon-open"></use>
              </svg>
            </button>
          </p>
          <div class="collapse" id="collapseSupport">
            <ul class="list-mob-footer">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Safety Center</a></li>
              <li><a href="#">Legal</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Status</a></li>
            </ul>
          </div>
        </div>
        <div class="sec-div-mob">
          <p>
            Legal
            <button
              class="btn-primary btn-open-footer"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseLegal"
              aria-expanded="false"
              aria-controls="collapseLegal"
            >
              <svg class="svg-open-footer">
                <use href="/img/sprite.svg#icon-open"></use>
              </svg>
            </button>
          </p>
          <div class="collapse" id="collapseLegal">
            <ul class="list-mob-footer">
              <li><a href="#">Cookies Policy</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Law Enforcement</a></li>
              <li><a href="#">Status</a></li>
            </ul>
          </div>
        </div>
        <div class="sec-div-mob">
          <p>
            Follow us
            <button
              class="btn-primary btn-open-footer"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFollow"
              aria-expanded="false"
              aria-controls="collapseFollow"
            >
              <svg class="svg-open-footer">
                <use href="/img/sprite.svg#icon-open"></use>
              </svg>
            </button>
          </p>
          <div class="collapse" id="collapseFollow">
            <ul class="list-mob-footer">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Dribbble</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section-desk-footer">
        <div class="sec-div-desk">
          <p>Market place</p>
          <ul class="list-mob-footer">
            <li><a href="#">Overview</a></li>
            <li>
              <a href="#">Features <span>new</span></a>
            </li>
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Releases</a></li>
          </ul>
        </div>
        <div class="sec-div-desk">
          <p>Collectibles</p>
          <ul class="list-mob-footer">
            <li><a href="#">About</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Partners</a></li>
          </ul>
        </div>
        <div class="sec-div-desk">
          <p>Support</p>
          <ul class="list-mob-footer">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Safety Center</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Status</a></li>
          </ul>
        </div>
        <div class="sec-div-desk">
          <p>Legal</p>
          <ul class="list-mob-footer">
            <li><a href="#">Cookies Policy</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Law Enforcement</a></li>
            <li><a href="#">Status</a></li>
          </ul>
        </div>
        <div class="sec-div-desk">
          <p>Follow us</p>
          <ul class="list-mob-footer">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="policy-footer">
      <p>© 2020 Landify UI Kit. All rights reserved</p>
      <ul class="policy-footer-list">
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
        <li class="sitemap-footer">Sitemap</li>
      </ul>
    </div>
  </div>
</footer>
