<header class="fixed-top">
  <nav class="navbar navbar-expand-md">
    <div class="header">
      <div class="my-container container-header">
        <a class="navbar-brand" href="/" aria-label="Home Page">
          <svg class="logo-header">
            <use href="/img/logo-mob.svg"></use>
          </svg>
        </a>
        <button
          class="navbar-toggler button-header"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <svg class="burger-menu" width="21" height="20">
            <use
              href="/img/sprite.svg#icon-burger-menu"
              data-action="use-burger"
            ></use>
          </svg>
        </button>
        <div
          class="offcanvas offcanvas-end mob-menu-header"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <div class="icons-header">
              <a class="icon-header" href="/">
                <svg>
                  <use href="/img/sprite.svg#icon-basket"></use>
                </svg>
              </a>
              <a class="icon-header" href="/">
                <svg>
                  <use href="/img/sprite.svg#icon-profile"></use>
                </svg>
              </a>
            </div>

            <button
              type="button"
              class="btn-close btn-close-white header-btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 pe-3 navbar-header">
              <li class="nav-item">
                <a class="nav-link nav-header" href="#">Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-header" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-header" href="#">Community</a>
              </li>
            </ul>
            <div class="icons-header desk-icons">
              <a class="icon-header" href="/">
                <svg>
                  <use href="/img/sprite.svg#icon-basket"></use>
                </svg>
              </a>
              <a class="icon-header" href="/">
                <svg>
                  <use href="/img/sprite.svg#icon-profile"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
