<section class="hero-container">
  <svg class="hero-icon-snake">
    <use href="/img/sprite.svg#icon-snake"></use>
  </svg>
  <div class="hero-grid-1">
    <h1>Discover, collect, and sell <span>Timeless</span> NFTs</h1>
    <p class="hero-text">
      The world’s first and largest digital marketplace for crypto collectibles
      and non- fungible tokens (NFTs).
    </p>
    <div class="create-hero">
      <button>
        Explore
        <svg>
          <use href="/img/sprite.svg#icon-right"></use>
        </svg>
      </button>
      <p>Create NFT’s</p>
    </div>
    <ul class="hero-stat">
      <li>
        35m+
        <p>Artwork</p>
      </li>
      <li>
        18m+
        <p>Auctions</p>
      </li>
      <li>
        500k+
        <p>Artists</p>
      </li>
    </ul>
  </div>
  <div class="hero-grid-2">
    <svg class="hero-binance">
      <use href="/img/sprite.svg#icon-binance-logo"></use>
    </svg>
    <svg class="hero-ethereum">
      <use href="/img/sprite.svg#icon-ethereum-logo"></use>
    </svg>
    <svg class="hero-blockchain">
      <use href="/img/sprite.svg#icon-blockchain-logo"></use>
    </svg>
    <svg class="hero-bitmex">
      <use href="/img/sprite.svg#icon-bitmex-logo"></use>
    </svg>
  </div>
  <div class="hero-grid-3">
    <picture>
      <source
        srcset="/img/hero/hero-desk-1x.webp 1x, /img/hero/hero-desk-2x.webp 2x"
        media="(min-width: 1440px)"
      />

      <source
        srcset="/img/hero/hero-mob-1x.webp 1x, /img/hero/hero-mob-2x.webp 2x"
        media="(max-width: 1439px)"
      />

      <img
        class="image-hero"
        src="/img/hero/hero-mob-2x.webp"
        alt="doll collections section"
      />
    </picture>
    <div class="hero-abstract">
      <div class="top-card">
        <div class="top-info">
          <div class="top-info-title">
            <h4>3D Abstract Hand</h4>
            <div class="top-user">
              <img
                class="top-img-user"
                src="/img/top-nft/card-one/avatar.webp"
                alt="${title}"
              />
              <p>@jhonartist</p>
              <svg>
                <use href="/img/offiicial.svg"></use>
              </svg>
            </div>
          </div>
          <div class="top-price">
            <p class="top-price-title">Reserve price</p>
            <div class="top-eth-el">
              <svg>
                <use href="/img/sprite.svg#icon-eth"></use>
              </svg>
              <p class="top-eth">ETH 9.31</p>
              <p class="top-usd">($29,8846)</p>
            </div>
          </div>
        </div>
        <div class="top-ends-btn">
          <div class="top-card-end">
            <p class="top-end-title">Auction Ends in</p>
            <ul class="top-date">
              <li>
                <p class="top-number"></p>
                <p>Hours</p>
              </li>
              <li>
                <p class="top-number"></p>
                <p>Mins</p>
              </li>
              <li>
                <p class="top-number"></p>
                <p>Secs</p>
              </li>
            </ul>
          </div>
          <button class="my-btn">
            Place Bid
            <svg class="right-top">
              <use href="/img/sprite.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
