<section class="my-container my-section">
  <div class="month-container">
    <h2 class="month-title">
      Top Sellers this<span> Month</span>
      <svg class="svg-month-title">
        <use href="/img/sprite.svg#icon-open"></use>
      </svg>
    </h2>
    <p class="month-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim minim mollit.
    </p>
    <ul class="month-list"></ul>
    <div class="top-button-div">
      <button class="top-button">
        Explore
        <svg>
          <use href="/img/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
    <button class="btn-desk-month my-btn">Explore all</button>
  </div>
</section>
