<section class="my-container">
  <div class="my-section subscribe-sec">
    <div class="sub-info">
      <div class="sub-text">
        <h1>Subscribe to us</h1>
        <p>
          Specially developed to help restore a more youthful appearance with
          improved radiance and bounce.
        </p>
      </div>
      <form class="sub-form">
        <input type="email" placeholder="Your work email address" />
        <button type="button" class="my-btn">Subscribe</button>
      </form>
    </div>
    <picture>
      <source
        srcset="
          /img/subscribe/sub-desk-1x.webp 1x,
          /img/subscribe/sub-desk-2x.webp 2x
        "
        media="(min-width: 1440px)"
      />

      <source
        srcset="
          /img/subscribe/sub-mob-1x.webp 1x,
          /img/subscribe/sub-mob-2x.webp 2x
        "
        media="(max-width: 1439px)"
      />

      <img
        class="image-subscribe"
        src="/img/subscribe/sub-mob-2x.webp"
        alt="image subscribe section"
      />
    </picture>
  </div>
</section>
