<section class="my-container my-section">
  <div class="top-container">
    <div class="top-title">
      <h2>Top NFT’s now</h2>
      <a href="#"
        >View all
        <svg class="right-collections">
          <use href="/img/sprite.svg#icon-right"></use>
        </svg>
      </a>
    </div>
    <div class="top-sec-swiper">
      <div class="top-swiper top-sw-con">
        <div class="top-swiper-wrapper swiper-wrapper top-cards-list"></div>
        <!-- <div class="swiper-pagination-top"></div> -->
      </div>
    </div>
    <button class="top-button">
      Explore
      <svg>
        <use href="/img/sprite.svg#icon-right"></use>
      </svg>
    </button>
  </div>
</section>
