<section class="my-section">
  <div class="what-bgr-image">
    <div class="my-container">
      <div class="what-container">
        <div class="what-div my-div">
          <div class="what-info">
            <h1>What are NFT’s ?</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum
              quis amet, faucibus lorem. Lectus amet odio quis sed adipiscing
              adipiscing magna non. Nullam turpis faucibus ridiculus suscipit.
              Et blandit suspendisse curabitur eu congue dui ut.
            </p>
          </div>
          <div class="what-link">
            <a href="#">Learn more</a>
            <a href="#">
              <svg class="what-svg">
                <use href="/img/sprite.svg#icon-watch"></use>
              </svg>
              Watch video
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
