.collections-sec-swiper {
  padding-bottom: 43px;
}
.collections-swiper {
  overflow: hidden;
}
.collections-acc-container .top-button {
  background: #251049;
}
.collections-acc-container .top-button:hover {
  background-image: linear-gradient(
    130deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
}
@media only screen and (min-width: 768px) {
  .collections-sec-swiper {
    padding-bottom: 50px;
  }
  .collections-acc-container .top-button {
    background: #3A245B;
  }
}
@media only screen and (min-width: 1440px) {
  .collections-sec-swiper {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1920px) {
}
