.my-container {
  box-sizing: border-box;
  padding: 0px 25px;
  width: 375px;
  margin: 0 auto;
}
.my-section {
  padding-bottom: 108.5px;
}

/* ------pink-blue button-------- */
.my-btn {
  border: 1.59px solid transparent;
  background-image: linear-gradient(
      130deg,
      #ff56f6 18.31%,
      #b936ee 43.26%,
      #3bace2 85.44%,
      #406aff 100%
    ),
    linear-gradient(120deg, #3c79d4 0%, #ffa6fa 77%);

  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 3px 77px 0 rgba(255, 86, 246, 0.61);
}
.my-btn:hover {
  background-image: linear-gradient(
      130deg,
      #ff56f6 18.31%,
      #b936ee 43.26%,
      #3bace2 85.44%,
      #406aff 100%
    ),
    linear-gradient(120deg, #ffa6fa 0%, #3c79d4 77%);

  box-shadow: 0 3px 100px 0 rgba(67, 114, 202, 0.793);
}

/* -------opasity div------- */
.my-div {
  border: 1.68px solid;
  background: rgba(255, 255, 255, 0.15);
  border-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.35) 50%,
      rgba(255, 255, 255, 0.05) 100%
    )
    1;
  backdrop-filter: blur(25px);
}

@media only screen and (min-width: 768px) {
  .my-container {
    width: 768px;
    padding: 0px 30px;
  }
  .my-section {
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 1440px) {
  .my-container {
    width: 1440px;
    padding: 0px 28px;
  }
  .my-section {
    padding-bottom: 160.4px;
  }
}
@media only screen and (min-width: 1920px) {
  .my-container {
    width: 1920px;
    padding: 0px 60px;
  }
  .my-section {
    padding-bottom: 180px;
  }
}
